@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Press Start";
  src: url("/fonts/PressStart2P-Regular.ttf");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
